<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Socket.IO Server</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="container">
    <header>
      <h1>Socket.IO Server</h1>
    </header>
    <main>
      <div class="card">
        <input type="text" id="delay-input" placeholder="Set Delay" />
        <button id="send-delay">Send Delay</button>
      </div>
      <div class="card">
        <input type="text" id="parameter-input" placeholder="Set Parameter" />
        <button id="send-parameter">Send Parameter</button>
      </div>
      <div class="card">
        <h2>Brightness Control</h2>
        <input type="text" id="brightness-input" placeholder="Set Brightness (0-255)" />
        <button id="send-brightness">Send Brightness</button>
      </div>
      <div class="card">
        <h2>Level Control</h2>
        <input type="text" id="level-input" placeholder="Set Level" />
        <button id="send-level">Send Level</button>
      </div>
      <div id="log"></div>
    </main>
    <footer>
      <p>Made using Socket.IO</p>
    </footer>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="script.js"></script>
</body>
</html>